<div class="container-fluid p-0 " >
  <header class="row w-100 " >
    <img src="../../../assets/Group 4.png" alt="zoomLogo" class="logo" 
    style=" width: 20%; top: 0; " >
    <img src="../../../assets/Group 5.png" alt="header" style="width: 100%;">
  </header>
  <div class="main">
      <div *ngIf="starter" class="row" >
        <div class="col" style="text-align: center; margin-top: 2%;" >
            <h1>Welcome</h1>
            <button class="btn btn-info btn-lg" (click)="starter=false;" >Start Trivia</button>   

        </div>  
      </div>
      <div *ngIf="!starter"  class="row ">
        <div class="col" style="text-align: center; margin-top: 2%;" >
            <app-trivia *ngIf="!finish" (finish)='finishTrivia($event)'> </app-trivia>
            <app-results *ngIf="finish" [resultsArr]="results"> </app-results>
        </div>
      </div>      
  </div>
  <footer class="row w-100 " >
    <img src="../../../assets/Group 5.png" alt=""  style="width: 100%;">
  </footer>
</div>
